# LOAD LIBRARIES

In [21]:
import pandas as pd
import numpy as np

# LOAD DATA

In [22]:
n2o_data  = pd.read_csv('../data/raw/n2o_isotopes.csv')
soil_data = pd.read_csv('../data/raw/soil_water_isotopes.csv')
meteo     = pd.read_csv('../data/raw/meteo.csv')

display(n2o_data)
display(soil_data.head())
display(meteo.head())

,site,chamber,date,CO2.TCD.ppm,N2O.ECD.ppm,CH4.FID.ppm,run_GC,sample_ID_IRMS,d15Nbulk,d15Nalpha,d15Nbeta,SP,d18O
0,CHOE02,1,24/02/2023,462.859775,0.329402,2.252466,16/03/2023,2023-02-24-CH-OE2-CH1-START.raw,6.75,16.33,-2.84,19.18,43.08
1,CHOE02,1,24/02/2023,1368.718286,0.339415,2.177467,16/03/2023,2023-02-24-CH-OE2-CH1-END.raw,5.22,13.03,-2.59,15.62,42.61
2,CHOE02,2,24/02/2023,460.780609,0.324048,2.243466,16/03/2023,2023-02-24-CH-OE2-CH2-START.raw,7.13,14.25,0.01,14.24,43.57
3,CHOE02,2,24/02/2023,1458.780398,0.339910,2.141468,16/03/2023,2023-02-24-CH-OE2-CH2-END.raw,6.30,14.11,-1.52,15.63,43.24
4,CHOE02,3,24/02/2023,456.095905,0.322633,2.219467,16/03/2023,2023-02-24-CH-OE2-CH3-START.raw,7.11,15.36,-1.15,16.50,43.54
...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,CHOE02,3,19/07/2023,527.232894,0.331105,2.028613,2/8/2023,2023-07-19-CH-OE2-CH3-END.raw,7.82,14.70,0.94,13.76,42.33
76,CHOE02,4,19/07/2023,426.423621,0.324977,2.040541,2/8/2023,2023-07-19-CH-OE2-CH4-START.raw,4.92,12.93,-3.09,16.02,41.73
77,CHOE02,4,19/07/2023,421.248498,0.325195,2.043523,2/8/2023,2023-07-19-CH-OE2-CH4-END.raw,4.17,12.21,-3.87,16.09,40.94
78,CHOE02,5,19/07/2023,427.070511,0.321518,2.043523,2/8/2023,2023-07-19-CH-OE2-CH5-START.raw,5.50,14.02,-3.02,17.04,43.37
79,CHOE02,5,19/07/2023,418.146065,0.321704,2.016685,2/8/2023,2023-07-19-CH-OE2-CH5-END.raw,5.85,14.32,-2.62,16.94,43.00

         date  chamber   d18O_avg  d18O_std
0  24.02.2023        1  -9.043810  0.103515
1  24.02.2023        2  -9.992686  0.264299
2  24.02.2023        3 -10.679986  0.084320
3  24.02.2023        4 -10.878235  0.009269
4  24.02.2023        5  -9.331065  0.044830

,TIMESTAMP_MIDDLE,G_1,G_2,G_3,G_4,PA,PPFD_DIF,PPFD_IN,PREC,RH,...,TS_0.015_1,TS_0.015_2,TS_0.015_3,TS_0.015_4,WS,SW_IN,SW_OUT,LW_IN,LW_OUT,PREC_source
0,2021-01-01T00:15:00Z,-18.628150,-18.951767,-13.484172,-16.384670,95063.620000,0.0,0.0,0.4,99.99799,...,1.658782,2.030183,1.897267,1.313857,0.000000,0.0,0.0,330.090577,318.139460,CH-OE2
1,2021-01-01T00:45:00Z,-20.113966,-18.594155,-12.570089,-15.570148,95064.982000,0.0,0.0,0.7,99.99799,...,1.594798,1.959095,1.873439,1.267879,0.000000,0.0,0.0,325.793407,317.057030,CH-OE2
2,2021-01-01T01:15:00Z,-15.431350,-15.728997,-10.566178,-14.430692,95072.237667,0.0,0.0,0.8,99.99799,...,1.548166,1.913163,1.856729,1.233932,0.115038,0.0,0.0,323.401640,316.943500,CH-OE2
3,2021-01-01T01:45:00Z,-11.501648,-14.287064,-9.305342,-14.430738,95077.748000,0.0,0.0,0.9,99.99799,...,1.524110,1.909809,1.844157,1.215864,0.004158,0.0,0.0,320.772343,316.664933,CH-OE2
4,2021-01-01T02:15:00Z,-10.623245,-11.849731,-8.862049,-11.573037,95092.707667,0.0,0.0,0.6,99.99799,...,1.514366,1.922569,1.835199,1.210354,0.004158,0.0,0.0,324.199777,316.863830,CH-OE2

# PROCESSING

Extract START/END from sample_ID_IRMS and parse date (dd/mm/yyyy)

In [23]:
n2o_data['start_end'] = n2o_data['sample_ID_IRMS'].astype(str).str.extract(r'(START|END)')[0]
n2o_data['date'] = pd.to_datetime(n2o_data['date'], format='%d/%m/%Y', errors='coerce').dt.normalize()

display(n2o_data[['sample_ID_IRMS', 'start_end', 'date']])

                     sample_ID_IRMS start_end       date
0   2023-02-24-CH-OE2-CH1-START.raw     START 2023-02-24
1     2023-02-24-CH-OE2-CH1-END.raw       END 2023-02-24
2   2023-02-24-CH-OE2-CH2-START.raw     START 2023-02-24
3     2023-02-24-CH-OE2-CH2-END.raw       END 2023-02-24
4   2023-02-24-CH-OE2-CH3-START.raw     START 2023-02-24
..                              ...       ...        ...
75    2023-07-19-CH-OE2-CH3-END.raw       END 2023-07-19
76  2023-07-19-CH-OE2-CH4-START.raw     START 2023-07-19
77    2023-07-19-CH-OE2-CH4-END.raw       END 2023-07-19
78  2023-07-19-CH-OE2-CH5-START.raw     START 2023-07-19
79    2023-07-19-CH-OE2-CH5-END.raw       END 2023-07-19

[80 rows x 3 columns]

Reshape

In [24]:
value_cols = [
    'CO2.TCD.ppm', 'N2O.ECD.ppm', 'CH4.FID.ppm',
    'd15Nbulk', 'd15Nalpha', 'd15Nbeta',
    'SP', 'd18O'
]

id_cols = [c for c in n2o_data.columns if c not in (['sample_ID_IRMS'] + value_cols + ['start_end'])]

wide = (
    n2o_data.drop(columns=['sample_ID_IRMS'])
    .pivot_table(index=id_cols, columns='start_end', values=value_cols, aggfunc='first')
)

# Flatten MultiIndex columns: (variable, START/END) -> variable_START / variable_END
wide.columns = [f"{var}_{se}" for var, se in wide.columns]
n2o_wide = wide.reset_index()

display(n2o_wide)
print('Columns:', list(n2o_wide.columns))

,site,chamber,date,run_GC,CH4.FID.ppm_END,CH4.FID.ppm_START,CO2.TCD.ppm_END,CO2.TCD.ppm_START,N2O.ECD.ppm_END,N2O.ECD.ppm_START,SP_END,SP_START,d15Nalpha_END,d15Nalpha_START,d15Nbeta_END,d15Nbeta_START,d15Nbulk_END,d15Nbulk_START,d18O_END,d18O_START
0,CHOE02,1,2023-02-24,16/03/2023,2.177467,2.252466,1368.718286,462.859775,0.339415,0.329402,15.62,19.18,13.03,16.33,-2.59,-2.84,5.22,6.75,42.61,43.08
1,CHOE02,1,2023-02-28,16/03/2023,2.099469,2.087469,451.121697,436.449100,0.326310,0.324590,16.17,17.87,14.73,15.34,-1.43,-2.53,6.65,6.40,43.33,42.76
2,CHOE02,1,2023-03-01,16/03/2023,2.129468,2.117469,1033.354037,456.464365,5.286856,0.507236,17.21,7.75,-18.37,0.14,-35.58,-7.61,-26.97,-3.73,19.00,35.27
3,CHOE02,1,2023-03-03,16/03/2023,2.156468,2.174468,917.131277,472.334456,5.094001,0.597711,5.01,1.40,-19.93,-12.42,-24.94,-13.81,-22.44,-13.12,19.43,24.31
4,CHOE02,1,2023-03-06,16/03/2023,2.114469,2.168468,1106.006422,459.609433,2.219686,0.376662,1.07,7.28,-22.95,1.94,-24.02,-5.34,-23.49,-1.70,23.78,38.27
5,CHOE02,1,2023-03-17,18/04/2023,2.241211,2.277098,1045.030884,475.020524,1.129431,0.377101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,CHOE02,1,2023-05-31,27/06/2023,2.151393,2.308995,1057.566815,632.551307,0.330895,0.332977,17.54,17.60,16.79,15.94,-0.75,-1.66,8.02,7.14,43.55,43.49
7,CHOE02,1,2023-07-19,2/8/2023,2.031595,2.022649,564.250861,455.441272,0.330092,0.324324,15.48,15.41,12.89,13.15,-2.60,-2.25,5.15,5.45,42.20,42.76
8,CHOE02,2,2023-02-24,16/03/2023,2.141468,2.243466,1458.780398,460.780609,0.339910,0.324048,15.63,14.24,14.11,14.25,-1.52,0.01,6.30,7.13,43.24,43.57
9,CHOE02,2,2023-02-28,16/03/2023,2.072470,2.084469,577.490262,433.672492,0.326462,0.326304,16.98,17.20,15.28,15.44,-1.70,-1.76,6.79,6.84,43.45,43.37
10,CHOE02,2,2023-03-01,16/03/2023,2.096469,2.108469,474.308348,442.147068,0.366123,0.338853,12.17,11.90,10.76,8.42,-1.41,-3.47,4.67,2.48,42.18,40.03
11,CHOE02,2,2023-03-03,16/03/2023,2.141468,2.135468,638.733551,448.239815,0.355788,0.332148,11.12,10.80,10.16,12.19,-0.96,1.39,4.60,6.79,43.06,44.39
12,CHOE02,2,2023-03-06,16/03/2023,2.129468,2.147468,892.154964,451.871776,0.374962,0.327853,10.71,11.92,6.31,10.88,-4.40,-1.03,0.96,4.92,41.91,43.16
13,CHOE02,2,2023-03-17,18/04/2023,2.223267,2.268126,853.681036,546.178380,2.148751,0.344869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,CHOE02,2,2023-05-31,27/06/2023,2.216813,2.204918,2188.451478,633.356386,0.331172,0.331377,17.16,15.49,16.69,17.01,-0.46,1.52,8.11,9.27,43.41,43.10
15,CHOE02,2,2023-07-19,2/8/2023,2.025631,2.052469,638.141577,491.099449,0.331304,0.322966,16.73,16.23,13.52,13.63,-3.21,-2.60,5.15,5.51,42.54,42.83
16,CHOE02,3,2023-02-24,16/03/2023,2.141468,2.219467,1683.146121,456.095905,0.326438,0.322633,15.58,16.50,14.50,15.36,-1.09,-1.15,6.70,7.11,43.12,43.54
17,CHOE02,3,2023-02-28,16/03/2023,2.075469,2.087469,607.124961,449.621539,0.324468,0.324279,18.32,17.15,15.84,15.47,-2.47,-1.68,6.69,6.89,43.30,43.48
18,CHOE02,3,2023-03-01,16/03/2023,2.045470,2.123469,1857.532898,462.043899,5.671719,0.375392,15.85,10.75,-16.05,6.38,-31.90,-4.37,-23.97,1.01,20.25,38.43
19,CHOE02,3,2023-03-03,16/03/2023,2.144468,2.159468,1551.645436,488.901990,3.078416,0.435025,0.76,6.17,-18.13,0.18,-18.89,-5.99,-18.51,-2.90,21.34,35.02
20,CHOE02,3,2023-03-06,16/03/2023,2.138468,2.141468,1335.148963,453.161385,0.734287,0.344579,2.70,10.48,-9.16,8.41,-11.86,-2.07,-10.51,3.17,29.68,41.15
21,CHOE02,3,2023-03-17,18/04/2023,2.387750,2.244201,1658.423144,445.723316,0.636163,0.332365,5.70,13.08,-0.07,13.30,-5.76,0.22,-2.91,6.76,35.89,42.49
22,CHOE02,3,2023-05-31,27/06/2023,2.225734,2.136525,1787.218783,568.818118,0.332719,0.329500,17.94,18.02,16.29,17.12,-1.65,-0.90,7.32,8.11,42.38,43.32
23,CHOE02,3,2023-07-19,2/8/2023,2.028613,2.055451,527.232894,429.644870,0.331105,0.321653,13.76,17.47,14.70,14.30,0.94,-3.17,7.82,5.56,42.33,42.78
24,CHOE02,4,2023-02-24,16/03/2023,2.159468,2.192467,1669.407832,454.490473,0.348762,0.327603,14.56,15.86,13.06,14.94,-1.49,-0.92,5.78,7.01,43.41,43.54
25,CHOE02,4,2023-02-28,16/03/2023,2.087469,2.087469,872.363407,434.698916,0.328463,0.324859,12.13,17.55,14.16,15.58,2.03,-1.97,8.09,6.81,45.08,43.25
26,CHOE02,4,2023-03-01,16/03/2023,2.099469,2.129468,1684.791031,449.108327,1.261796,0.335494,2.28,12.38,-16.92,8.56,-19.19,-3.81,-18.05,2.37,26.76,39.80
27,CHOE02,4,2023-03-03,16/03/2023,2.153468,2.162468,1210.885883,458.898831,0.461532,0.333705,7.34,11.59,-0.28,10.82,-7.63,-0.77,-3.95,5.03,37.56,42.58
28,CHOE02,4,2023-03-06,16/03/2023,2.111469,2.135468,1092.215496,443.555111,0.360552,0.327444,11.58,11.83,9.41,11.91,-2.17,0.08,3.62,5.99,42.53,43.91
29,CHOE02,4,2023-03-17,18/04/2023,2.211305,2.226258,1282.660879,493.196858,0.661294,0.342675,7.92,6.95,2.61,5.21,-5.32,-1.74,-1.35,1.73,37.79,35.90
30,CHOE02,4,2023-05-31,27/06/2023,2.154367,2.133551,2276.482202,576.314588,0.330657,0.335569,17.18,18.02,16.72,17.09,-0.46,-0.93,8.13,8.08,43.27,43.14
31,CHOE02,4,2023-07-19,2/8/2023,2.043523,2.040541,421.248498,426.423621,0.325195,0.324977,16.09,16.02,12.21,12.93,-3.87,-3.09,4.17,4.92,40.94,41.73
32,CHOE02,5,2023-02-24,16/03/2023,2.102469,2.108469,1002.837667,447.029161,0.337479,0.324645,15.34,15.79,13.73,14.78,-1.61,-1.01,6.06,6.88,43.11,43.33
33,CHOE02,5,2023-02-28,16/03/2023,2.096469,2.087469,535.920097,433.067165,0.325584,0.324353,14.64,13.54,14.80,14.91,0.16,1.37,7.48,8.14,43.72,44.52
34,CHOE02,5,2023-03-01,16/03/2023,2.126468,2.102469,651.432256,440.331088,0.479223,0.327450,9.83,15.29,1.59,13.81,-8.25,-1.49,-3.33,6.16,35.53,43.04
35,CHOE02,5,2023-03-03,16/03/2023,2.162468,2.165468,881.693336,446.581745,0.418394,0.327493,8.09,12.33,2.88,12.13,-5.21,-0.20,-1.16,5.96,39.51,43.77
36,CHOE02,5,2023-03-06,16/03/2023,2.117469,2.144468,861.888620,436.330666,0.354979,0.325413,10.59,11.81,7.90,12.66,-2.69,0.85,2.60,6.75,41.49,42.94
37,CHOE02,5,2023-03-17,18/04/2023,2.235229,2.253173,1121.159036,441.697245,1.545072,0.333755,8.89,14.02,-12.31,12.19,-21.20,-1.83,-16.76,5.18,40.28,42.22
38,CHOE02,5,2023-05-31,27/06/2023,2.181129,2.181129,1274.515699,533.737808,0.334300,0.333493,17.73,18.60,17.18,17.71,-0.55,-0.89,8.31,8.41,43.15,43.78
39,CHOE02,5,2023-07-19,2/8/2023,2.016685,2.043523,418.146065,427.070511,0.321704,0.321518,16.94,17.04,14.32,14.02,-2.62,-3.02,5.85,5.50,43.00,43.37

Columns: ['site', 'chamber', 'date', 'run_GC', 'CH4.FID.ppm_END', 'CH4.FID.ppm_START', 'CO2.TCD.ppm_END', 'CO2.TCD.ppm_START', 'N2O.ECD.ppm_END', 'N2O.ECD.ppm_START', 'SP_END', 'SP_START', 'd15Nalpha_END', 'd15Nalpha_START', 'd15Nbeta_END', 'd15Nbeta_START', 'd15Nbulk_END', 'd15Nbulk_START', 'd18O_END', 'd18O_START']

**Keeling**

Computation of Keeling-like SP, Î´Â¹âµNbulk, Î´Â¹â¸O of the emitted N2O.

In [25]:
n2o_data = n2o_wide.copy()

# Î”N2O in ppb (ppm difference Ã— 1000)
n2o_data['diff_n2o_ppb'] = (n2o_data['N2O.ECD.ppm_END'] - n2o_data['N2O.ECD.ppm_START']) * 1000

# Keeling-style mixing equations
den = (n2o_data['N2O.ECD.ppm_END'] - n2o_data['N2O.ECD.ppm_START'])
n2o_data['SP']   = (n2o_data['SP_END']       * n2o_data['N2O.ECD.ppm_END'] - n2o_data['SP_START']       * n2o_data['N2O.ECD.ppm_START']) / den
n2o_data['d15N'] = (n2o_data['d15Nbulk_END'] * n2o_data['N2O.ECD.ppm_END'] - n2o_data['d15Nbulk_START'] * n2o_data['N2O.ECD.ppm_START']) / den
n2o_data['d18O'] = (n2o_data['d18O_END']     * n2o_data['N2O.ECD.ppm_END'] - n2o_data['d18O_START']     * n2o_data['N2O.ECD.ppm_START']) / den

display(n2o_data[['date', 'chamber', 'diff_n2o_ppb', 'SP', 'd15N', 'd18O']].head())

        date  chamber  diff_n2o_ppb          SP       d15N        d18O
0 2023-02-24        1     10.012610 -101.499579 -45.115100   27.147584
1 2023-02-28        1      1.719556 -304.728830  53.841004  150.925490
2 2023-03-01        1   4779.619396   18.213941 -29.436341   17.273349
3 2023-03-03        1   4496.289482    5.489893 -23.678948   18.781280
4 2023-03-06        1   1843.023597   -0.199149 -27.943262   20.818652

**Flux calcs**

- Take meteo at 13:15 (TA, PA)
- Ideal gas conversion using PA (must be **Pa**) and TA (Â°C)
- Convert Î”N2O(ppb) â†’ mol m-3, then to surface flux using chamber volume/area and closure time (1 h).
- Calculate flux in nmol m-2 s-1

In [26]:
# Parse TIMESTAMP_MIDDLE and filter the station at 13:15
meteo['TIMESTAMP_MIDDLE'] = pd.to_datetime(meteo['TIMESTAMP_MIDDLE'], errors='coerce').dt.tz_localize(None)

meteo_1315 = (
    meteo.loc[meteo['TIMESTAMP_MIDDLE'].dt.strftime('%H:%M') == '13:15', ['TIMESTAMP_MIDDLE', 'TA', 'PA']]
    .assign(date=lambda d: d['TIMESTAMP_MIDDLE'].dt.normalize())
    .drop(columns=['TIMESTAMP_MIDDLE'])
)

# Join meteo to N2O table by date
n2o_data = n2o_data.merge(meteo_1315, on='date', how='left')

# Constants
R = 8.314        # J mol^-1 K^-1
t = 3600         # s (1 hour)

# Chamber geometry
h_chamber = 0.25 # m
r_chamber = 0.15 # m
A = np.pi * r_chamber**2   # m^2
V = A * h_chamber          # m^3

# IMPORTANT: PA must be in Pa

n2o_data['delta_n2o_mol_per_m3'] = (n2o_data['diff_n2o_ppb'] * n2o_data['PA']) / (R * (273.15 + n2o_data['TA']) * 1e9)
n2o_data['flux_nmol'] = (n2o_data['delta_n2o_mol_per_m3'] * V) / (A * t) * 1e9

Keep selected columns

In [27]:
n2o_keep = n2o_data[['date', 'chamber', 'SP', 'd15N', 'd18O', 'diff_n2o_ppb', 'flux_nmol']].copy()
n2o_keep

,date,chamber,SP,d15N,d18O,diff_n2o_ppb,flux_nmol
0,2023-02-24,1,-101.499579,-45.115100,27.147584,10.012610,0.027814
1,2023-02-28,1,-304.728830,53.841004,150.925490,1.719556,0.005069
2,2023-03-01,1,18.213941,-29.436341,17.273349,4779.619396,14.025316
3,2023-03-03,1,5.489893,-23.678948,18.781280,4496.289482,12.993894
4,2023-03-06,1,-0.199149,-27.943262,20.818652,1843.023597,5.272311
5,2023-03-17,1,NaN,NaN,NaN,752.329262,2.100811
6,2023-05-31,1,27.133826,-132.689450,33.956174,-2.082446,-0.005651
7,2023-07-19,1,19.415926,-11.718254,10.712593,5.768066,0.015320
8,2023-02-24,2,44.026146,-10.655972,36.498469,15.862233,0.044064
9,2023-02-28,2,-435.759492,-96.105339,208.082542,0.158561,0.000467
10,2023-03-01,2,15.524976,31.882586,68.895553,27.270031,0.080021
11,2023-03-03,2,15.616250,-26.171209,24.372462,23.639145,0.068315
12,2023-03-06,2,2.289056,-26.599452,33.210678,47.108978,0.134764
13,2023-03-17,2,NaN,NaN,NaN,1803.882584,5.037177
14,2023-05-31,2,-2683.392362,1883.942778,-457.890139,-0.204921,-0.000556
15,2023-07-19,2,36.097177,-8.794367,31.307038,8.337972,0.022146
16,2023-02-24,3,-62.439150,-28.069404,7.502562,3.804486,0.010569
17,2023-02-28,3,2025.753036,-336.460946,-265.535852,0.189001,0.000557
18,2023-03-01,3,16.211476,-25.740525,18.961443,5296.327715,15.541545
19,2023-03-03,3,-0.130329,-21.078954,19.088668,2643.390218,7.639173
20,2023-03-06,3,-4.179072,-22.605849,19.538232,389.707596,1.114831
21,2023-03-17,3,-2.373949,-13.489280,28.669395,303.798338,0.848329
22,2023-05-31,3,9.751540,-73.541045,-53.834408,3.219165,0.008736
23,2023-07-19,3,-112.489679,84.726813,27.016697,9.452163,0.025105
24,2023-02-24,4,-5.567522,-13.263733,41.397248,21.159271,0.058779
25,2023-02-28,4,-476.371270,123.455614,210.016776,3.604358,0.010625
26,2023-03-01,4,-1.378079,-25.445839,22.037094,926.302519,2.718142
27,2023-03-03,4,-3.755073,-27.393237,24.454761,127.826654,0.369408
28,2023-03-06,4,9.107460,-19.819678,28.881580,33.108087,0.094712
29,2023-03-17,4,8.963234,-4.662537,39.822693,318.619291,0.889715
30,2023-05-31,4,74.557293,4.714685,34.390181,-4.912715,-0.013331
31,2023-07-19,4,120.515778,-1114.677616,-1137.579489,0.217843,0.000579
32,2023-02-24,5,3.956438,-14.683380,37.544703,12.833446,0.035650
33,2023-02-28,5,304.321350,-166.328810,-166.957346,1.231656,0.003631
34,2023-03-01,5,-1.950011,-23.804782,19.327091,151.772260,0.445361
35,2023-03-03,5,-7.185584,-26.811452,24.162362,90.901309,0.262697
36,2023-03-06,5,-2.837729,-43.076293,25.530813,29.566011,0.084579
37,2023-03-17,5,7.476529,-22.805135,39.745471,1211.317416,3.382493
38,2023-05-31,5,-341.908993,-33.027815,-217.278236,0.806750,0.002189
39,2023-07-19,5,-156.180015,611.770051,-597.544054,0.185720,0.000493

Get soil water isotopes

In [28]:
soil = soil_data.copy()
soil['date'] = pd.to_datetime(soil['date'], format='%d.%m.%Y', errors='coerce').dt.normalize()
soil['d18O_water'] = soil['d18O_avg']
soil_keep = soil[['date', 'chamber', 'd18O_water']].copy()
soil_keep

         date  chamber  d18O_water
0  2023-02-24        1   -9.043810
1  2023-02-24        2   -9.992686
2  2023-02-24        3  -10.679986
3  2023-02-24        4  -10.878235
4  2023-02-24        5   -9.331065
5  2023-02-28        1   -8.902047
6  2023-02-28        2   -8.846700
7  2023-02-28        3   -9.501534
8  2023-02-28        4   -8.839583
9  2023-02-28        5   -8.254797
10 2023-03-01        1   -8.335530
11 2023-03-01        2   -8.845445
12 2023-03-01        3   -8.741820
13 2023-03-01        4   -8.840135
14 2023-03-01        5   -8.883050
15 2023-03-03        1  -10.864481
16 2023-03-03        2  -10.440853
17 2023-03-03        3  -10.314688
18 2023-03-03        4  -10.226242
19 2023-03-03        5   -4.422485
20 2023-03-06        1   -9.530335
21 2023-03-06        2   -9.893990
22 2023-03-06        3  -10.056549
23 2023-03-06        4   -9.456112
24 2023-03-06        5   -9.084056
25 2023-03-17        1   -9.583860
26 2023-03-17        2  -10.309929
27 2023-03-17        3  -10.256006
28 2023-03-17        4   -9.300178
29 2023-03-17        5   -9.502486
30 2023-05-31        1  -10.151755
31 2023-05-31        2   -7.190811
32 2023-05-31        3  -11.984311
33 2023-05-31        4  -11.217369
34 2023-05-31        5  -14.174456
35 2023-07-19        1   -4.658883
36 2023-07-19        2   -4.864887
37 2023-07-19        3   -5.292383
38 2023-07-19        4   -4.865040
39 2023-07-19        5   -6.413640

Merge water isotope data with N2O isotope data

In [29]:
iso_data = n2o_keep.merge(soil_keep, on=['date', 'chamber'], how='left')
iso_data

,date,chamber,SP,d15N,d18O,diff_n2o_ppb,flux_nmol,d18O_water
0,2023-02-24,1,-101.499579,-45.115100,27.147584,10.012610,0.027814,-9.043810
1,2023-02-28,1,-304.728830,53.841004,150.925490,1.719556,0.005069,-8.902047
2,2023-03-01,1,18.213941,-29.436341,17.273349,4779.619396,14.025316,-8.335530
3,2023-03-03,1,5.489893,-23.678948,18.781280,4496.289482,12.993894,-10.864481
4,2023-03-06,1,-0.199149,-27.943262,20.818652,1843.023597,5.272311,-9.530335
5,2023-03-17,1,NaN,NaN,NaN,752.329262,2.100811,-9.583860
6,2023-05-31,1,27.133826,-132.689450,33.956174,-2.082446,-0.005651,-10.151755
7,2023-07-19,1,19.415926,-11.718254,10.712593,5.768066,0.015320,-4.658883
8,2023-02-24,2,44.026146,-10.655972,36.498469,15.862233,0.044064,-9.992686
9,2023-02-28,2,-435.759492,-96.105339,208.082542,0.158561,0.000467,-8.846700
10,2023-03-01,2,15.524976,31.882586,68.895553,27.270031,0.080021,-8.845445
11,2023-03-03,2,15.616250,-26.171209,24.372462,23.639145,0.068315,-10.440853
12,2023-03-06,2,2.289056,-26.599452,33.210678,47.108978,0.134764,-9.893990
13,2023-03-17,2,NaN,NaN,NaN,1803.882584,5.037177,-10.309929
14,2023-05-31,2,-2683.392362,1883.942778,-457.890139,-0.204921,-0.000556,-7.190811
15,2023-07-19,2,36.097177,-8.794367,31.307038,8.337972,0.022146,-4.864887
16,2023-02-24,3,-62.439150,-28.069404,7.502562,3.804486,0.010569,-10.679986
17,2023-02-28,3,2025.753036,-336.460946,-265.535852,0.189001,0.000557,-9.501534
18,2023-03-01,3,16.211476,-25.740525,18.961443,5296.327715,15.541545,-8.741820
19,2023-03-03,3,-0.130329,-21.078954,19.088668,2643.390218,7.639173,-10.314688
20,2023-03-06,3,-4.179072,-22.605849,19.538232,389.707596,1.114831,-10.056549
21,2023-03-17,3,-2.373949,-13.489280,28.669395,303.798338,0.848329,-10.256006
22,2023-05-31,3,9.751540,-73.541045,-53.834408,3.219165,0.008736,-11.984311
23,2023-07-19,3,-112.489679,84.726813,27.016697,9.452163,0.025105,-5.292383
24,2023-02-24,4,-5.567522,-13.263733,41.397248,21.159271,0.058779,-10.878235
25,2023-02-28,4,-476.371270,123.455614,210.016776,3.604358,0.010625,-8.839583
26,2023-03-01,4,-1.378079,-25.445839,22.037094,926.302519,2.718142,-8.840135
27,2023-03-03,4,-3.755073,-27.393237,24.454761,127.826654,0.369408,-10.226242
28,2023-03-06,4,9.107460,-19.819678,28.881580,33.108087,0.094712,-9.456112
29,2023-03-17,4,8.963234,-4.662537,39.822693,318.619291,0.889715,-9.300178
30,2023-05-31,4,74.557293,4.714685,34.390181,-4.912715,-0.013331,-11.217369
31,2023-07-19,4,120.515778,-1114.677616,-1137.579489,0.217843,0.000579,-4.865040
32,2023-02-24,5,3.956438,-14.683380,37.544703,12.833446,0.035650,-9.331065
33,2023-02-28,5,304.321350,-166.328810,-166.957346,1.231656,0.003631,-8.254797
34,2023-03-01,5,-1.950011,-23.804782,19.327091,151.772260,0.445361,-8.883050
35,2023-03-03,5,-7.185584,-26.811452,24.162362,90.901309,0.262697,-4.422485
36,2023-03-06,5,-2.837729,-43.076293,25.530813,29.566011,0.084579,-9.084056
37,2023-03-17,5,7.476529,-22.805135,39.745471,1211.317416,3.382493,-9.502486
38,2023-05-31,5,-341.908993,-33.027815,-217.278236,0.806750,0.002189,-14.174456
39,2023-07-19,5,-156.180015,611.770051,-597.544054,0.185720,0.000493,-6.413640

# EXPORT

In [30]:
out_path = '../data/processed/SOURCES_dataset.csv'
iso_data.to_csv(out_path, index=False)
print('Exported:', out_path)

Exported: ../data/processed/SOURCES_dataset.csv